.aboutClass{
    .parallax-container {
         
 }

    .content{
        width: 70%;
        margin: 40px auto;
        

        .part-2 {


            h5{
                margin: 10px 0;
                text-align: center;


                hr{
                    width: 20%;
                    text-align: center;
                    display: block;
                }
            }

        }

        .part-3{


            div p {
                text-align: center;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }


 }