<div class="aboutClass" ng-controller="aboutCtrl">
	<div class="carousel carousel-slider">
		<a class="carousel-item" href="#one!"><img src="../assets/img/001.png" style="width: 100%;"></a>
		<a class="carousel-item" href="#two!"><img src="../assets/img/002.png" style="width: 100%;"></a>
		<a class="carousel-item" href="#three!"><img src="../assets/img/003.png" style="width: 100%;"></a>
		<a class="carousel-item" href="#four!"><img src="../assets/img/004.png" style="width: 100%;"></a>
		<a class="carousel-item" href="#five!"><img src="../assets/img/005.png" style="width: 100%;"></a>
	</div>
	<div class="content">
		<!--<div class="row">
			<p>
				<ul class="collapsible popout" data-collapsible="accordion">
					<li>
						<div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">place</i>Second</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
				</ul>
			</p>
		</div>-->

		<div class="row">
			<div class="part-2">
				<h5>Женская Коллекция
					<hr>
				</h5>
			</div>
		</div>

		<div class="row">
			<div class="part-3">
				<div class="col s3"><img src="../assets/img/pict_1.jpg">
					<p>1000 грн</p>
				</div>
				<div class="col s3"><img src="../assets/img/pict_2.jpg">
					<p>1000 грн</p>
				</div>
				<div class="col s3"><img src="../assets/img/pict_3.jpg">
					<p>1000 грн</p>
				</div>
				<div class="col s3"><img src="../assets/img/pict_4.jpg">
					<p>1000 грн</p>
				</div>
			</div>
		</div>
	</div>
	{{name}}

	<button ng-click="getAccount()">get</button>

	<!--<div class="parallax-container">
		<div class="parallax"><img src="../assets/img/img_1.jpg"></div>
	</div>-->
</div>