<div class="contact">
	<div class="row">
		<div class="">
			<div>
				<h4>Контакты</h4>
				<p>Уважаемые клиенты!</p>
			</div>

			<div>
				<p>
					Компания "Рубашка на заказ" работает для Вас с 2009 года. Я надеюсь, что наши рубашки радуют Вас каждый день. Специалисты
					стремятся постоянно развивать и совершенствовать сервис "Рубашка на заказ" для Вас и Вашего комфорта. Мы гарантируем
					Вам отличную посадку изделия и делаем для этого все возможное!
				</p>

				<p>
					Вы всегда можете написать мне лично на адрес: <a href="">vm@rubashka-na-zakaz.ru</a> или обратиться в отзывчивую службу
					поддержки по адресу:
					<a href="#">support@rubashka-na-zakaz.ru</a>.<br> Спасибо всем клиентам "Рубашка на заказ" за выбор и поддержку нашего
					сервиса!
				</p>

				<p>
					Специально для Вашего удобства у нас работает Московское представительство.<br>
					<b>Режим работы:</b> вторник-пятница с 11.00 до 20.00, суббота с 12.00 до 18.00, воскресенье, понедельник - выходной.<br>
					<b>Адрес офиса:</b> г. Москва, ул. Б. Якиманка, дом 38, подъезд 5, этаж 1, офис 102 (код домофона 102) (м.Октябрьская,
					далее 5 минут пешком).<br>
					<b>Прием по предварительной записи по телефону 8-499-39-116-39</b> <br> В Московском представительстве Вы можете посмотреть
					ткани и получить консультацию по их выбору; оценить готовые изделия и элементы мужской сорочки; снять мерки; уточнить
					свой стандартный размер, примерив образец; научиться пользоваться конструктором; оформить заказ; приобрести сертификат;
					получить нашу продукцию
				</p>

				<p>
					С уважением, <br> Василий Мунтян и команда "Рубашка на заказ"
				</p>

				<p>
					<b>Наши электронные адреса:</b> <br>
					<a href="#">support@rubashka-na-zakaz.ru</a>- вопросы по исполнению заказов; <br><a href="">moscow@rubashka-na-zakaz.ru</a>-
					московское представительство;
					<br> <a href=""> vm@rubashka-na-zakaz.ru</a>- по вопросам сотрудничества пишите мне!
				</p>

				<p>Телефоны компании "Рубашка на заказ":</p>

				<p>
					8-499-39-116-39, представительство в Москве;<br> 8-800-555-55-61 (звонок по России бесплатный);<br> 8-3412-908-902,
					офис в Ижевске.<br>
				</p>

				<p>
					<b>Реквизиты</b>
				</p>

				<p>
					Полное наименование: Общество с ограниченной ответственностью "Научно-производственный центр "БИЗНЕС СТАРТ" <br> Сокращенное
					наименование: ООО НПЦ "БИЗНЕС СТАРТ"<br> Юридический адрес: 426006, УР, г.Ижевск, ул. 14-я, дом 56а<br> Почтовый адрес:
					426006, УР, г.Ижевск, ул. 14-я, дом 56а<br> ОГРН: 1021801144463<br> ИНН: 1831001076<br> КПП: 183201001<br> ОКВЭД: 52.61,
					74.13, 18.22, 18.24, 52.42, 52.47<br> ОКПО: 13051163<br> ОКФС: 16<br> ОКОПФ: 65<br> Расчетный счет: 40702810900010022779
					в ПАО «БыстроБанк» г. Ижевск<br> Корреспондентский счет: 30101810200000000814<br> БИК: 049401814<br> Директор: Мунтян
					Василий Андреевич<br> Главный бухгалтер:Новикова Наталья Александровна<br>
				</p>

				<p>
					<b>Наши эксклюзивные представители</b>
				</p>

				<p>
					<b>Екатеринбург:</b> Ателье в ТРЦ КомсоМОЛЛ <br> Телефон: +7 (932) 609-12-12.<br> Адрес: ТРЦ КомсоМОЛЛ , ул.Дублер Сибирского
					тракта 2, р-н ЖБИ/Синие камни, 1 этаж<br> Режим работы: вт-сб с 10.00 до 19.00<br>
				</p>

                <p>
					<b>Екатеринбург:</b> Ателье в ТРЦ КомсоМОЛЛ <br> Телефон: +7 (932) 609-12-12.<br> Адрес: ТРЦ КомсоМОЛЛ , ул.Дублер Сибирского
					тракта 2, р-н ЖБИ/Синие камни, 1 этаж<br> Режим работы: вт-сб с 10.00 до 19.00<br>
				</p>

                <p>
					<b>Екатеринбург:</b> Ателье в ТРЦ КомсоМОЛЛ <br> Телефон: +7 (932) 609-12-12.<br> Адрес: ТРЦ КомсоМОЛЛ , ул.Дублер Сибирского
					тракта 2, р-н ЖБИ/Синие камни, 1 этаж<br> Режим работы: вт-сб с 10.00 до 19.00<br>
				</p>

                <p>
					<b>Екатеринбург:</b> Ателье в ТРЦ КомсоМОЛЛ <br> Телефон: +7 (932) 609-12-12.<br> Адрес: ТРЦ КомсоМОЛЛ , ул.Дублер Сибирского
					тракта 2, р-н ЖБИ/Синие камни, 1 этаж<br> Режим работы: вт-сб с 10.00 до 19.00<br>
				</p>
			</div>
		</div>
	</div>
</div>