<script src="./app/controllers/modeler/Model_three/lib/three.min.js"></script>
<!--<script src="./app/controllers/modeler/Model_three/lib/ammo.js"></script>

<script src="./app/controllers/modeler/Model_three/controls/OrbitControls.js"></script>

<script src="./app/controllers/modeler/Model_three/loaders/ctm/CTMWorker.js"></script>
<script src="./app/controllers/modeler/Model_three/loaders/ctm/lzma.js"></script>
<script src="./app/controllers/modeler/Model_three/loaders/ctm/ctm.js"></script>
<script src="./app/controllers/modeler/Model_three/loaders/ctm/CTMLoader.js"></script>-->

<script src="./app/controllers/modeler/Model_three/Detector.js"></script>
<!--<script src="./app/controllers/modeler/Model_three/stats.min.js"></script>-->
<!--<script src="./app/controllers/modeler/script.js"></script>-->
<div class="modeler">
	<div>
		<div class="row">
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">room</i>
					<input id="card" type="text" class="validate" maxlength="20" value="" data-stripe="number">
					<label id="card_label" for="room">Card Number</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<i class="material-icons prefix">room</i>
					<input id="mm" type="text" class="validate" maxlength="2" value="" data-stripe="exp_month">
					<label id="mm_label" for="room">Expiration (MM)</label>
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">room</i>
					<input id="yy" type="text" class="validate" maxlength="4" value="" data-stripe="exp_year">
					<label id="yy_label" for="room">Expiration (YY)</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">room</i>
					<input id="cvc" type="text" class="validate" maxlength="4" value="" data-stripe="cvc">
					<label id="cvc_label" for="room">CVC</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<span id="error"></span>
				</div>
			</div>
			<button class="btn waves-effect waves-light" ng-click="stripe()">Submit
    					<i class="material-icons right">send</i>
  				</button>
		</div>
	</div>

	<div id="container"></div>
</div>