<!DOCTYPE html>
<html lang="en" ng-app="modeler">

<head>

	<base href="/">

	<meta charset="UTF-8">
	<title>Model</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="materialize-css/dist/css/materialize.min.css">
	<script src="materialize-css/dist/js/materialize.min.js"></script>
	<script src="angular/angular.min.js"></script>
	<script src="angular-route/angular-route.min.js"></script>

	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript">
		Stripe.setPublishableKey('pk_test_1aJwGR5fL9rx3TqmzL8kZW58');
	</script>

	<script src="socket.io-client/socket.io.js"></script>
	<script src="dist/common.build.js"></script>
	<script src="dist/app.build.js"></script>
	<link rel="stylesheet" href="app/styles/css/index.css">
	<link rel="stylesheet" href="app/styles/css/about.css">
	<link rel="stylesheet" href="app/styles/css/modeler.css">
	<link rel="stylesheet" href="app/styles/css/contacts.css">
	<link rel="stylesheet" href="">

	<!--<script src="test/app.bundle.js"></script>-->
</head>

<body>

	<header ng-controller="aboutCtrl">
		<nav>
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo">Logo</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="#/">Про нас</a></li>
					<li><a href="#news">Новости</a></li>
					<li><a href="#contacts">Контакты</a></li>
					<li><a href="#modeler">Конструктор</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="#/">Про нас</a></li>
					<li><a href="#news">Новости</a></li>
					<li><a href="#contacts">Контакты</a></li>
					<li><a href="#modeler">Конструктор</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!--<div ng-controller="ctrl">
		{{name}}
	</div>-->
	<ng-view></ng-view>
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Footer Content</h5>
					<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Социальные сети:</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">https://www.facebook.com/rubashka</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">https://www.vk.com</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">https://www.twitter.com</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">https://www.instagram.com</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2014 Copyright Text
				<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		</div>
	</footer>


</body>

</html>